<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h2>Admin Page</h2>
            <a href="/admin/types"><p>Manage Types</p></a>
            <a href="/admin/versions"><p>Manage Versions</p></a>
            <a href="/admin/distributions"><p>Manage Distributions</p></a>
            <a href="/api/markers/download"><p>Download Marker Data</p></a>
        </div>
    </div>            
</div>

<% include partials/footer %>