html {
	height: 100%
}
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#map_title {
	font-size: 2em;
	font-family: Arial, san-serif;
	text-align: center; 
	position: absolute;
	z-index: 1;
	left: 75px;
	color: white;
	text-shadow: 2px 2px #586575;
}
#map_canvas {
	height: 100%;
}
a.implementation-id {
	padding-top: 3em;
	float: right;
	font-size: 0.8em;
	color: #DDD;
	font-style: italic;
}
#fadeControl { background-color:white;
	border:solid 2px black;
	cursor:pointer;
	text-align: center;
	font-family: Arial, san-serif;
	font-size: 0.8em;
	padding-left:2px;
	padding-right:2px;
}
#fadeCheckbox {
	cursor:pointer;
}
#fadeLabel {
	cursor:pointer;
}
.site-bubble {
	font-family: Arial, san-serif;
	font-size: 0.8em;
	max-width: 300px;
}
.site-name {
	font-weight: bold;
	font-size: 1.1em;
	padding-top: 2px;
	padding-right: 12px;
}
.site-image {
	float: left;
	padding: 5px 5px 5px 0px;
}
.site-label {
	color: #AAA;
	font-weight: normal;
}
div.site-type {
	margin-top: 3px;
	margin-bottom: 5px;
}
span.site-type {
	background-color: #FFFFCD;
	border: 1px solid #E7E194;
	color: #777;
	font-size: 11px;
	font-weight: normal;
	padding: 1px 4px 1px 5px;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	/*
	font-size: 0.8em;
	font-weight: italic;
	color: #999;
	*/
}
.site-url {
}
.site-notes {
	clear: both;
	border: 1px solid #EEE;
	margin: 2px 0px 2px 0px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.site-notes legend {
	color: #CCC;
	font-size: 0.5em;
	font-style: italic;
}
.site-contact {
	margin-top: 5px;
	font-weight: normal;
	display: inline;
}
.site-email {
	margin-left: 3px;
	vertical-align: middle;
}

#legend {
        border-style: solid;
        border-width: 1.5px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px;
        margin: 10px;
  }

  #legend div img {
        vertical-align: middle;
        margin: 5px;
  }