<?php
/* Database Connection */

// data source name
$db_dsn = "mysql:host=localhost;dbname=atlas";

// database credentials
$db_username = "username";
$db_password = "password";

/* Ping Configuration */

// needed to delete an entry
$ping_delete_secret = "secret";
?>
