<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h2>Edit Type</h2>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Name" name="name" id="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Icon</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Icon" name="icon" id="icon">
                </div>
            </div>
            <input type="hidden" id="typeid" name="typeid" value="<%= id %>">
                
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" id="submit" class="btn btn-primary">Save Type</button>
                </div>
            </div>
        </form>

    </div>
</div>

<script>

function fetchType() {
    var typeid = document.getElementById("typeid").value;
    $.ajax({url: "/api/type/"+typeid})
        .always(function (data, textStatus) {
            if (textStatus != "success") {
                return;
            }
            document.getElementById("name").value = data[0].name;
            document.getElementById("icon").value = data[0].icon;
    });
}

fetchType();

$("#submit").click(function (e) {
    e.preventDefault();
    var submitbtn = document.getElementById("submit");
    submitbtn.disabled = true;

    var id = $("#typeid").val();
    var name = $("#name").val().trim();
    var icon = $("#icon").val().trim();
    var json = JSON.stringify({ name: name, icon: icon });
    $.ajax({
      url: "/api/type/"+id,
      type: "PATCH",
      data: json,
      dataType: "json",
      processData: false,
      contentType: "application/json",
    })
    .done(function (response) {
        console.log(response);
        submitbtn.disabled = false;
    })
    .fail(function (jqXHR) {
        submitbtn.disabled = false;
        console.log("Error saving marker type - Please try again ! - " + jqXHR.statusText);
    });
});

</script>
        
<% include ../partials/footer %>