<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h2>Create New Type</h2>

        <form class="form-horizontal" action="/type" method="post" role="form">
            <div class="form-group">
                <label class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Name" name="name" id="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Icon</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Icon" name="icon" id="icon">
                </div>
            </div>
                
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary">Create Type</button>
                </div>
            </div>
        </form>

    </div>
</div>
  
<% include ../partials/footer %>