<% include ../partials/header %>

<script>

function fetchTypes() {
    $.ajax({url: "/api/types"})
        .always(function (data, textStatus) {
            if (textStatus != "success") {
                return;
            }

            var table = document.getElementsByTagName("tbody")[0];
            table.innerHTML = "";
            data.forEach(function(type) {
                var rowElem = table.insertRow(0);
                var row = "<tr>";
                row += "<td>"+type.id+"</td>";
                row += "<td>"+type.name+"</td>";
                row += "<td><a href='"+type.icon+"'>"+type.icon.substring(0,Math.min(40,type.icon.length))+"...</a></td>";
                row += "<td><a href='/admin/types/"+type.id+"'><i class='fa fa-pencil-square-o fa-2x' id='edit' aria-hidden='true' style='margin: 5px;'></i></a> \
                    <i class='fa fa-trash-o fa-2x' id='delete' onclick='deleteType("+type.id+",\""+type.name+"\")' aria-hidden='true'></i></td>";
                row += "</tr>";
                rowElem.innerHTML = row;
                table.appendChild(rowElem);
            });
    })
}

fetchTypes();

function deleteType(id, name) {
    $.ajax({
      url: "/api/type/"+id,
      type: "DELETE",
      dataType: "json",
    })
        .done(function(response) {
            console.log("Marker Type - " + name + ", ID - " + response.id + " deleted successfully!");
            fetchTypes();
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            console.log( "Error deleting type - Please try again ! - " + jqXHR.statusText );
            return;
        });
}

</script>

<div class="container">
    <div class="jumbotron">
        <a href="/admin/types/new"><button class="btn btn-primary">Create new type</button></a>
        <table class="table table-bordered" id="typestable">
            <thead>
                <th>ID</th>
                <th>Name</th> 
                <th>Icon</th>
                <th>Operations</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
  
<% include ../partials/footer %>