html {
        height: 100%
}
body {
        height: 100%;
        margin: 0px;
        padding: 0px;
}
.control {
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        cursor: pointer;
}
#map_title {
        font-size: 2em;
        font-family: Arial, san-serif;
        text-align: center; 
        position: absolute;
        z-index: 1;
        left: 75px;
        color: white;
        text-shadow: 2px 2px #586575;
}
#map_canvas {
        height: 100%;
}
a.implementation-id {
        padding-top: 3em;
        float: right;
        font-size: 0.8em;
        color: #DDD;
        font-style: italic;
}
#fadeControl { background-color:white;
               border:solid 2px black;
               cursor:pointer;
               text-align: center;
               font-family: Arial, san-serif;
               font-size: 0.8em;
               padding-left:2px;
               padding-right:2px;
}
#fadeCheckbox {
        cursor:pointer;
}
#fadeLabel {
        cursor:pointer;
}
.site-bubble {
        font-family: Arial, san-serif;
        font-size: 0.8em;
        max-width: 300px;
        min-width: 150px;
        margin-top: 3px;
}
.site-name {
        font-weight: bold;
        font-size: 1.1em;
        padding-top: 2px;
        padding-right: 12px;
}
.site-image {
        float: left;
        padding: 5px 5px 5px 0px;
}
.site-label {
        color: #AAA;
        font-weight: normal;
}
div.site-type {
        margin-top: 3px;
        margin-bottom: 5px;
}
span.site-type {
        background-color: #FFFFCD;
        border: 1px solid #E7E194;
        color: #777;
        font-size: 11px;
        font-weight: normal;
        padding: 1px 4px 1px 5px;
        text-decoration: none;
        white-space: nowrap;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        /*
        font-size: 0.8em;
        font-weight: italic;
        color: #999;
        */
}
.site-url {
}
.site-notes {
        clear: both;
        border: 1px solid #EEE;
        margin: 2px 0px 2px 0px;
        padding: 1px 4px 1px 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
}
.site-notes legend {
        color: #CCC;
        font-size: 0.5em;
        font-style: italic;
}
.site-contact {
        margin-top: 5px;
        font-weight: normal;
        display: inline;
}
.site-email {
        margin-left: 3px;
        vertical-align: middle;
}

#site-update {
        color: rgba(141, 141, 141, 1);
        font-style: italic;
        margin-top: 5px;
        margin-left: 1px;
        text-align: left;
        font-size: 9px;
        vertical-align: bottom;
}

span.site-version {
        background-color: #FFDDCC;
        border: 1px solid #E7E194;
        color: #777;
        font-size: 11px;
        font-weight: normal;
        padding: 1px 4px 1px 5px;
        margin-left: 5px;
        text-decoration: none;
        white-space: nowrap;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        /*
        font-size: 0.8em;
        font-weight: italic;
        color: #999;
        */
}
#legend {
        border-style: solid;
        border-width: 1.5px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px;
        margin: 10px;
}
#legend img {
        width: 32px;
        height: 28px;
        vertical-align: middle;
        margin: 5px;
}
#legend h3 {
        margin-top : 3px;
}

// Dropdown Control
#marker-groups {
        padding-bottom: 1px;
}
#marker-groups img {
        vertical-align: middle;
        margin-right: 4px;
        width: 10px;
        height: 10px;
}
.atlas-container {
        z-index: 1;
        margin-top: 2px;
        margin-left: 3px;
        margin-right: 1px;
        z-index: 0;
}
.dropDownControl {
        height:19px;
        direction: ltr;
        overflow-x: hidden;
        overflow-y: hidden;
        text-align: left;
        position: relative;
        font-family: Arial, sans-serif;
        -webkit-user-select: none;
        font-size: 11px;
        margin-top: 4px;
        min-width: 73px;
        padding-bottom: 1px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: rgb(113, 123, 135);
        border-right-color: rgb(113, 123, 135);
        border-bottom-color: rgb(113, 123, 135);
        border-left-color: rgb(113, 123, 135);
        border-image: initial;
        -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
        box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
        color: rgb(0, 0, 0);
        padding-left: 6px;
        padding-right: 5px;
        padding-top:2px;
        font-weight: bold;
        background-image: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(255, 255, 255);
        background-position: initial initial;
        background-repeat: initial initial;
        z-index: 2;
}   
.dropDownOptionsDiv{
        background-color: white;
        z-index: 0;
        font-size: 11px;
        padding-top: 2px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-color: rgb(113, 123, 135);
        border-bottom-color: rgb(113, 123, 135);
        border-left-color: rgb(113, 123, 135);
        border-image: initial; 
        border-top-width: 0px; 
        border-top-style: initial;
        border-top-color: initial;
        font-weight: bold;
        -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
        box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
        position: relative;
        text-align: left;
        display: none;
}
.dropDownItemDiv{
        font-family: Arial, sans-serif;
        -webkit-user-select: none;
        padding-top: 3px;
        padding-right: 5px;
        padding-bottom: 3px;
        padding-left: 6px;
        background-color: rgb(255, 255, 255);
        color: black;
        max-height: 20px;
}
.dropDownItemDiv:hover, .checkboxContainer:hover{
        background-color: rgb(235, 235, 235);
}
.dropDownControl:hover{
        background: -webkit-linear-gradient(top,rgb(255,255,255),rgb(230,230,230));
}
.glyphicon {
    color: #333333;
    margin-right: 5px;
}
.loginControl {
        position: relative;
        font-family: Arial, sans-serif;
        font-size: 11px;
        margin-top: 6px;
        margin-left: 4px;
}   
.logged {
        min-width: 110px;
}
#login img {
        vertical-align: middle;
        margin-right: 10px;
        width: 10px;
        height: 15px;
}
.control a {
        font-family: Arial, sans-serif;
        -webkit-user-select: none;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        color: black;
}
.control a:hover {
        font-family: Arial, sans-serif;
        -webkit-user-select: none;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        color: black;
}

.control a:visited. {
        font-family: Arial, sans-serif;
        -webkit-user-select: none;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        color: black;
}
#down-screen .fa {
    margin-right: 3px;
}
.screen .fa {
    margin-right: 8px;
}
#download {
    width: 90px;
}
#user {
    text-align: center;
    padding-left: 2px;
}

.bubble-form {
    overflow: hidden;
}
#fade input[type=checkbox] {
-ms-transform: scale(0.8); /* IE */
  -moz-transform: scale(0.8); /* FF */
  -webkit-transform: scale(0.8); /* Safari and Chrome */
  -o-transform: scale(0.8); /* Opera */
  vertical-align: middle;
  position: relative;
  margin-right: 1px;
  top: -3px;
  left: -3px;
  *overflow: hidden;
}
#fade label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.tooltip-inner {
    min-width: 250px; !important;
}
.site-fade {
    font-size: 9px;
    font-style: italic;
    color: rgba(141, 141, 141, 1);
    position: absolute;
    right:12px;bottom:2px;
}
.toggle {
        cursor:pointer;
}