<% include ../partials/header %>

<script>

function fetchVersions() {
    $.ajax({url: "/versions"})
        .always(function (data, textStatus) {
            if (textStatus != "success") {
                return;
            }

            var table = document.getElementsByTagName("tbody")[0];
            table.innerHTML = "";
            data.forEach(function(version) {
                var rowElem = table.insertRow(0);
                var row = "<tr>";
                row += "<td>"+version.id+"</td>";
                row += "<td>"+version.version+"</td>";
                row += "<td><a href='/admin/versions/"+version.id+"'><i class='fa fa-pencil-square-o fa-2x' id='edit' aria-hidden='true' style='margin: 5px;'></i></a> \
                    <i class='fa fa-trash-o fa-2x' id='delete' onclick='deleteVersion("+version.id+",\""+version.version+"\")' aria-hidden='true'></i></td>";
                row += "</tr>";
                rowElem.innerHTML = row;
                table.appendChild(rowElem);
            });
    })
}

fetchVersions();

function deleteVersion(id, name) {
    console.log("hi");
    $.ajax({
      url: "/version/"+id,
      type: "DELETE",
      dataType: "json",
    })
        .done(function(response) {
            console.log("Version - " + name + ", ID - " + response.id + " deleted successfully!");
            fetchVersions();
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            console.log("Error deleting version - Please try again ! - " + jqXHR.statusText);
            return;
        });
}

</script>

<div class="container">
    <div class="jumbotron">
        <a href="/admin/versions/new"><button class="btn btn-primary">Create new version</button></a>
        <table class="table table-bordered" id="versionstable">
            <thead>
                <th>ID</th>
                <th>Version</th>
                <th>Operations</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
  
<% include ../partials/footer %>