<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h2>Create New Distribution</h2>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="name" name="name" id="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Is Standard?</label>
                <div class="col-lg-10">
                    <input type="checkbox" name="is_standard" id="is_standard">
                </div>
            </div>
                    
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" id="submit" class="btn btn-primary">Create Distribution</button>
                </div>
            </div>
        </form>

    </div>
</div>

<script>

$("#submit").click(function (e) {
    e.preventDefault();
    var submitbtn = document.getElementById("submit");
    submitbtn.disabled = true;

    var name = $("#name").val().trim();
    var is_standard = $('#is_standard').is(':checked') ? 1 : 0;
    var json = JSON.stringify({ name: name, is_standard: is_standard });
    console.log(json);
    $.ajax({
      url: "/api/distribution",
      type: "POST",
      data: json,
      dataType: "json",
      processData: false,
      contentType: "application/json",
    })
    .done(function (response) {
        console.log(response);
        window.location.href = "/admin/distributions";
    })
    .fail(function (jqXHR) {
        submitbtn.disabled = false;
        console.log("Error creating distribution - Please try again ! - " + jqXHR.statusText);
    });
});

</script>

<% include ../partials/footer %>